@page
@model AllergyInfoModel
@{
    ViewData["Title"] = "Allergy Information";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="well row">

        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Celery.png">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Egg.png">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Fish.png">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Gluten.png">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Lupin.png">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Milk.png">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Mustard.png">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Nuts.png">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Peanuts.png">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Prawn.png">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Sesame.png">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Shellfish.png">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Soy.png">
        </div>
        <div class="col-md-4 col-sm-6">
            <img src="https://motionmediastorage.blob.core.windows.net/allergydesc/Sulph.png">
        </div>

    </div>
</div>
