<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
      <!--internalLogLevel="Trace"
      internalLogFile="d:/Logs/easyCommenceInternallog.txt"-->
      
  <extensions>
    <add assembly="NLog.Extensions.AzureBlobStorage" />
  </extensions>
  <targets >
    <!--<target name="logfileDebug" xsi:type="File"
            fileName="d:/Logs/easyCommenceLog-${gdc:item=server}-${gdc:item=serverinstance}-${shortdate}_Debug.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logfileError" xsi:type="File"
            fileName="d:/Logs/easyCommenceLog-${gdc:item=server}-${gdc:item=serverinstance}-${shortdate}_Error.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>-->

    <target type="AzureBlobStorage"
            name="blobError"
            layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring}"
            connectionString="DefaultEndpointsProtocol=https;AccountName=wiiyalog;AccountKey=hrsvJ4erj7n8SnlOitsqxiQKuls+UcyJ+nsSzcWQNBypH1YCaUKWgF0qUFAb6zoBPYHLJL5qp+gsKGEnCmVuuA==;EndpointSuffix=core.windows.net"
            container="WiiyaApiLogs"
            blobName="apiLog-${gdc:item=server}-${gdc:item=serverinstance}-${shortdate}_Error.log"/>

    <target type="AzureBlobStorage"
            name="blobDebug"
            layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring}"
            connectionString="DefaultEndpointsProtocol=https;AccountName=wiiyalog;AccountKey=hrsvJ4erj7n8SnlOitsqxiQKuls+UcyJ+nsSzcWQNBypH1YCaUKWgF0qUFAb6zoBPYHLJL5qp+gsKGEnCmVuuA==;EndpointSuffix=core.windows.net"
            container="WiiyaApiLogs"
            blobName="apiLog-${gdc:item=server}-${gdc:item=serverinstance}-${shortdate}_Debug.log"/>
	  <target type="AzureBlobStorage"
		 name="blobInfo"
		 layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring}"
		 connectionString="DefaultEndpointsProtocol=https;AccountName=wiiyalog;AccountKey=hrsvJ4erj7n8SnlOitsqxiQKuls+UcyJ+nsSzcWQNBypH1YCaUKWgF0qUFAb6zoBPYHLJL5qp+gsKGEnCmVuuA==;EndpointSuffix=core.windows.net"
		 container="WiiyaApiLogs"
		 blobName="apiLog-${gdc:item=server}-${gdc:item=serverinstance}-${shortdate}_Info.log"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="blobDebug" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="blobError" />
	  <logger name="*" minlevel="Info" maxlevel="Info" writeTo="blobInfo" />
    <!--<logger name="*" minlevel="Debug" writeTo="logfileDebug" />
    <logger name="*" minlevel="Error" writeTo="logfileError" />-->
  </rules>
</nlog>